<template>
  <v-btn dark class="ma-1" icon>
      <ShareNetwork
        network="facebook"
        :url="article.url"
        :title="article.title"
        :description="article.description"
        style="text-decoration: none"
      >
       <v-icon medium color="blue darken-2">mdi-facebook</v-icon>
      </ShareNetwork>
    </v-btn>
</template>

<script>
export default {
  computed: {
    article() {
      return this.$store.state.article;
    },
  },
};
</script>

<style>

</style>