<template>
  <v-btn
        dark
        color="red"
        text
        class="ma-1"
        :href="article.url">
        source
  </v-btn>
</template>

<script>
export default {
  computed: {
    article() {
      return this.$store.state.article;
    },
  },
};
</script>

<style>

</style>