<template>
   <v-flex>
        <v-row>
          <v-col
            cols="12"
            sm="4"
            md="4"
            v-for="article in posts"
            v-bind:key="article.key"
            @click="openDetail(article)"
          >
            <v-card class="mx-auto">
              <v-img
                class="white--text align-end"
                height="200px"
                :src="article.urlToImage"
              ></v-img>
               <v-card-title>
                {{ article.title.slice(0,50) }}
                <span v-if="article.title.length > 50">...</span>
              </v-card-title>
              <v-row>
                <v-col cols="6">
                  <v-card-text class="text--primary">
                    <div>{{ article.author }}</div>
                  </v-card-text>
                </v-col>
                <v-col cols="6">
                  <v-card-text class="text--primary" align="right">
                    <div>{{ article.source.name }}</div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" class="pb-0 pt-0">
                  <v-card-text class="text--primary pt-0">
                    <div>{{ article.publishedAt }}</div>
                  </v-card-text>
                </v-col>
              </v-row>

              <v-divider></v-divider>
              <v-card-actions>
                <v-row>
                  <v-col cols="4">
                     <v-btn color="red" text @click="openDetail(article)">DETAILS</v-btn>
                  </v-col>
                </v-row>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row >
        <v-row justify="center">
             <v-btn dark  color="red" class="mt-6" @click="loadMore">see more</v-btn>
        </v-row>
      </v-flex>
</template>

<script>
import axios from "axios";
export default {
  methods: {
    loadMore() {
      this.posts = [];
      this.current += 3;
      this.allPost.map((article) =>
         article.description !== null && this.posts.length < this.current
          ? this.posts.push(article)
          : ""
      );
    },
    
    openDetail(data) {
      this.$store.commit("setArticle", data);
      this.$router.replace({ path: "/detail" });
    },
    
  },
  
  data() {
    return {
      allPost: [],
      posts: [],
      current: 9,
      past: 9,
    };
  },
  
  mounted() {
    axios(
      "https://newsapi.org/v2/everything?q=headlines&sortBy=publishedAt&apiKey=57052441ed654042b41161b887628773",
      {
        crossDomain: true,
      }
    ).then(({ data }) => {
      this.allPost = data.articles;
      data.articles.map((article) => {
        if (article.description !== null && this.posts.length < this.current) {
          this.posts.push(article);
        }
      });
    });
  },
};
</script>

<style>

</style>