<template>
  <v-container fluid class="pa-0">
    <v-parallax
      dark
      src="https://i.picsum.photos/id/113/4168/2464.jpg?hmac=p1FqJDS9KHL70UWqUjlYPhJKBdiNOI_CIH0Qo-74_fU"
    >
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12">
          <h1 class="text-h4  pb-2">NEWS APPS</h1>
          <h4 class="subheading ">Read News From All Sources</h4>
          <nuxt-link to="/headline"  style="text-decoration: none;"><v-btn dark outlined class="mt-8">More News</v-btn></nuxt-link>
        </v-col>
      </v-row>
    </v-parallax>
    
  </v-container>
</template>

<script>
export default {};
</script>

<style>
</style>