<template>
  <v-app light>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      light
      app
    >
      <v-list class="pt-0">
       
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action >
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed dark app color="#B71C1C">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon class="d-none d-sm-flex">mdi-{{ `chevron-${miniVariant ? "right" : "left"}` }}</v-icon>
      </v-btn>

      <v-spacer />
      <nuxt-link to="/" style="text-decoration: none">
        <v-btn icon>
          <v-icon>mdi-owl</v-icon>
        </v-btn>
      </nuxt-link>
      <v-toolbar-title v-text="title" />
     
    </v-app-bar>
    <v-main light>
      <v-container>
        <Nuxt keep-alive/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      
      items: [
        {
          icon: "mdi-apps",
          title: "Home",
          to: "/",
        },
        {
          icon: "mdi-tablet",
          title: "Headlines",
          to: "/headline",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "News Apps",
    };
  },
};
</script>
