<template>
  <v-col>
    <v-row justify="center">
      <v-col cols="12" md="12">
        <v-img class="img-fluid" height="400px" :src="article.urlToImage"></v-img>
        <h1 class="mt-6">{{ article.title }}</h1>
        <v-row class="mb-4">
          <v-col cols="6">
            <p class="mt-4">{{ article.publishedAt }}</p>
          </v-col>
          <v-col cols="6" align="right">
            <p class="mt-4">{{ article.author }}</p>
          </v-col>
        </v-row>
        <p>{{ article.content }}</p>
      </v-col>
    </v-row>
   <SocialmediaFacebook />
   <SocialmediaTwitter />
   <SocialmediaWhatsapp />
   <SocialmediaSource />
  </v-col>
</template>

<script>

export default {
  computed: {
    article() {
      return this.$store.state.article;
    },
  },
};
</script>