<template>
  <v-container>
    <Cardheadlines />
  </v-container>
</template>

<script>

import Cardheadlines from '~/components/Cardheadlines.vue';
export default {
  components: { Cardheadlines },
};
</script>
