<template >
  <v-container fluid>
    <v-row >
    <Homebanner />
    <Cardlist />
    </v-row>
  </v-container>
</template>

<script>
import Cardlist from '~/components/Cardlist.vue';

export default {
  components: { Cardlist },
  name: "Index"
};
</script>
